page-home {
  .center-container {
    margin: 4em auto 0;
    text-align: center;
  }

  ion-card {
    display: flex;
    flex-wrap: nowrap;
  }

  .card-header {
    text-align: left;
  }

  button {
    color: white;
  }

  .button-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

    button {
      width: 80%;
    }
  }
}
